* {
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    margin-top: 30px;
    padding-top: 10px;
    height: 100vh;
    background-color: #F3EEEA;
    margin-bottom:0px;/* Add or adjust this line to set the bottom margin */

}

.fakebody {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0; /* Ensure there is no margin at the bottom */
    width: fit-content;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #24231f;
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 100;
}

.navbar a {
    font-size: 18px;
    position: relative;
    color: #F3EEEA;
    /* Color option 2 96897b*/
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
}

#hero {
    height: 100%;
    background: url('images/claudio-schwarz-3N-QY4VqvnQ-unsplash.jpg') no-repeat center/cover;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
h3{
    margin-bottom: 0px;
}
.container{ 
    display: flex;
    flex-direction: column;
    text-align: center;
     
}
.container h1 { 
    font-size: 50px;
}
.container p { 
    font-size: 35px;
}

.links{
    display: flex;
    align-self: center;
}

.links a{
    width: 80px;
    height: 80px;
    text-decoration: none;
    box-shadow: 0 0 20px 10px rgba(7, 7, 7, 0.05);
    margin: 0 30px;
    color: #F3EEEA;
    border-radius: 50%;
    background-color: #31302c;
}
.links a .fa-brands{
    font-size: 40px;
    line-height: 80px;
}
.links a::after{
    content:''; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, #B9967E, #F3EEEA);
    
}

.About_Me {
    text-align: center;
    background-color: #31302c; /* #282723 */
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 0px;
}

#about_title {
    font-size: 40px;
    color: #ddc8bc;
    font-weight: 900;
}

.About_Me .adeola {
    border-radius: 50%;
    border-style: double;
    height: 200px;
    display: block;
    margin: auto;
    border: 2px solid #776B5D;
}

.About_Me .aboutTXT {
    text-align: unset;
    font-size: 16px;
    color: #ddc8bc;
    height: 20%;
    width: 60%;
}

.Education,
.Certifications,
.Experience,
.Projects,
.Skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30%;
    padding: 30px;
    background-color: #B9967E;
    color: #282723;
}

.Education{
    background-color: #ddc8bc;
}

h5{
    margin-top: 3px;
    margin-bottom: 15px;
    font-weight: 600;
}

.Certifications{
    background-color:#ceb2a1;
}
.Education .listings,
.Certifications .listings,
.Experience .listings,
.Projects .listings,
.Skills .listings {
    width: 700px;
    font-size: 18px;
    margin-right: 10px;
}

.Education .resumeTitle,
.Certifications .resumeTitle,
.Experience .resumeTitle,
.Projects .resumeTitle,
.Skills .resumeTitle {
    color: #31302c;
    font-size: xx-large;
    border-bottom: 4px solid #776B5D;
    padding: 3px;
    margin-left: 10px;
}


#Contact{
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
}

#Contact h2{
    margin-bottom: 0px;
    margin-top:10px;
    color: #31302c;
}